<div class="regUserManagerView">
    <div class="order-search-form">
        </br>
        <div class="col-lg-12 col-md-12">
            <form class="form-horizontal no-margin">
                <div class="form-group">
                    <label class="col-sm-2 control-label">手机\邮箱</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="account" placeholder="手机\邮箱">
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-info searchBtn" ng-click="getUserInfoByCondition()">查询</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-12 col-md-12">
            <h5>查询结果：</h5>
        </div>
        <div class="paymentdetail-info-result">
            <table  ng-table="$ctrl.tableInfo" class="table table-hover text-center table-bordered">
                <tr ng-repeat="user in $data">
                    <td data-title="'id'" class="id td-2">
                        {{user.id}}
                    </td>
                    <td data-title="'姓名'" class="userName td-2">
                        {{user.userName}}
                    </td>
                    <td data-title="'手机'" class="mobile td-2">
                        {{user.mobile}}
                    </td>
                    <td data-title="'邮箱'" class="email td-2">
                        {{user.email}}
                    </td>
                    <td data-title="'性别'" class="gender td-2">
                        {{user.gender}}
                    </td>
                    <td data-title="'昵称'" class="nickName td-2">
                        {{user.nickName}}
                    </td>
                    <td data-title="'状态'" class="state td-2">
                        {{user.state}}
                    </td>
                    <td data-title="'创建时间'" sortable="'createdAt'" class="createdAt td-2">
                        {{user.createdAt ==null ? '-':user.createdAt}}
                    </td>
                    <td data-title="'更新时间'" sortable="'updatedAt'" class="updatedAt td-2">
                        {{user.updatedAt ==null ? '-':user.updatedAt}}
                    </td>
                    <td data-title="'操作'" class="td-5">
                        <button type="submit" class="btn btn-info" ng-click="showOrderDetail(user)"  data-toggle="modal"
                                data-target="#orderModal">详情</button>
                        <button type="submit" class="btn btn-info" ng-click="deleteByUser(user)">删除</button>
                    </td>
                </tr>
            </table>
        </div>


        <!-- table area end -->

        <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h5 class="modal-title" id="myModalLabel">
                            查看详情
                        </h5>
                    </div>
                    <div>
                        <table class="table table-bordered">
                            <tr><td class="modalTd">地址</td><td class="modalTdContent">{{address}}</td></tr>
                            <tr><td class="modalTd">身份证号</td><td class="modalTdContent">{{idCard}}</td></tr>
                            <tr><td class="modalTd">折扣信息</td><td class="modalTdContent">{{discountId}}</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
