<div class="editor-view">
    <script>
        $(function() {
            // 初始化工具条
            initToolbarBootstrapBindings();
            $('#editor').wysiwyg();
        });

        // 初始化工具条
        function initToolbarBootstrapBindings() {
            $('button[title]').tooltip({
                container : 'body'
            });

            $('[data-role=magic-overlay]').each(function() {
                var overlay = $(this), target = $(overlay.data('target'));
                overlay.css('opacity', 0).css('position', 'absolute')
                    .offset(target.offset()).width(target.outerWidth())
                    .height(target.outerHeight());
            });
        };

    </script>
    <div class="editor-container">
        <div class="btn-toolbar" role="toolbar" data-role="editor-toolbar" data-target="#editor">
            <div class="btn-group" role="group">
                <button type="button" class="btn" data-edit="bold" title="加粗">
                    <i class="fa fa-bold"></i>
                </button>
                <button type="button" class="btn" data-edit="italic" title="斜体">
                    <i class="fa fa-italic"></i>
                </button>
                <button type="button" class="btn" data-edit="strikethrough" title="划除线">
                    <i class="fa fa-strikethrough"></i>
                </button>
                <button type="button" class="btn" data-edit="underline" title="下划线">
                    <i class="fa fa-underline"></i>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn" data-edit="insertunorderedlist" title="列表">
                    <i class="fa fa-list-ul"></i>
                </button>
                <button type="button" class="btn" data-edit="insertorderedlist" title="数字列表">
                    <i class="fa fa-list-ol"></i>
                </button>
                <button type="button" class="btn" data-edit="outdent" title="去除缩进">
                    <i class="fa fa-outdent"></i>
                </button>
                <button type="button" class="btn" data-edit="indent" title="缩进">
                    <i class="fa fa-indent"></i>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn" data-edit="justifyleft" title="左对齐">
                    <i class="fa fa-align-left"></i>
                </button>
                <button type="button" class="btn" data-edit="justifycenter" title="居中对齐">
                    <i class="fa fa-align-center"></i>
                </button>
                <button type="button" class="btn" data-edit="justifyright" title="右对齐">
                    <i class="fa fa-align-right"></i>
                </button>
                <button type="button" class="btn" data-edit="justifyfull" title="水平对齐">
                    <i class="fa fa-align-justify"></i>
                </button>
            </div>
            <div class="btn-group" role="group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn dropdown-toggle"
                            data-toggle="dropdown" title="超链接">
                        <i class="fa fa-link"></i>
                    </button>
                    <div class="dropdown-menu">
                        <div class="input-group" style="margin: 0 5px; min-width: 200px;">
                            <input class="form-control" placeholder="URL" type="text"
                                   data-edit="createLink" /> <span class="input-group-btn">
                                <button class="btn" type="button">Add</button>
                            </span>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn" data-edit="unlink"
                        title="撤销超链接">
                    <i class="fa fa-cut"></i>
                </button>
            </div>

            <div class="btn-group" role="group">
                <button type="button" class="btn" id="pictureBtn" title="插入图片">
                    <i class="fa fa-image"></i>
                </button>
                <input type="file" data-role="magic-overlay"
                       data-target="#pictureBtn" data-edit="insertImage" />
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn" data-edit="undo"
                        title="撤销">
                    <i class="fa fa-undo"></i>
                </button>
                <button type="button" class="btn" data-edit="redo"
                        title="去除撤销">
                    <i class="fa fa-repeat"></i>
                </button>
            </div>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" data-edit="fontName Serif" style="font-family: 'Serif'">Serif</button>
                <button type="button" class="btn btn-default" data-edit="fontName Sans" style="font-family: 'Sans'">Sans</button>
                <button type="button" class="btn btn-default" data-edit="fontName Arial" style="font-family: 'Arial'">Arial</button>
                <button type="button" class="btn btn-default" data-edit="fontName Arial Black" style="font-family: 'Arial Black'">Arial Black</button>
                <button type="button" class="btn btn-default" data-edit="fontName Courier" style="font-family: 'Courier'">Courier</button>
                <button type="button" class="btn btn-default" data-edit="fontName Courier New" style="font-family: 'Courier New'">Courier New</button>
                <button type="button" class="btn btn-default" data-edit="fontName Comic Sans MS" style="font-family: 'Comic Sans MS'">Comic Sans MS</button>
                <button type="button" class="btn btn-default" data-edit="fontName Helvetica" style="font-family: 'Helvetica'">Helvetica</button>
                <button type="button" class="btn btn-default" data-edit="fontName Impact" style="font-family: 'Impact'">Impact</button>
                <button type="button" class="btn btn-default" data-edit="fontName Lucida Grande" style="font-family: 'Lucida Grande'">Lucida Grande</button>
                <button type="button" class="btn btn-default" data-edit="fontName Tahoma" style="font-family: 'Tahoma'">Tahoma</button>
                <button type="button" class="btn btn-default" data-edit="fontName Verdana" style="font-family: 'Verdana'">Verdana</button>
                <button type="button" class="btn btn-default" data-edit="fontName Times New Roman" style="font-family: 'Times New Roman'">Times New Roman</button>
                <button type="button" class="btn btn-default" data-edit="fontName Times" style="font-family: 'Times'">Times</button>
                <button type="button" class="btn btn-default" data-edit="fontName Lucida Sans" style="font-family: 'Lucida Sans'">Lucida Sans</button>
                <button type="button" class="btn btn-default" data-edit="fontSize 5">5</button>
                <button type="button" class="btn btn-default" data-edit="fontSize 3">3</button>
                <button type="button" class="btn btn-default" data-edit="fontSize 1" >1</button>
            </div>
        </div>

        <div id="editor"></div>
    </div>

</div>